<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>radio-k</title>
	<link rel="stylesheet" type="text/css" href="/radio-k/assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/radio-k/assets/css/main.css">
</head>
<body>
<div id="app" v-cloak>
	<div class="container">
		
		<div v-if="loading">
			LOADING...
		</div>
		<div v-else="">
			<div class="row">
				<div class="col-xs-12 col-lg-7" style="margin-top:5px;">
					<div class="iframe-wrap card" id="player" v-show="showVideo">
						<iframe :width="iframeWidth" :height="iframeHeight" :src="videoUrl" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
				<div class="col-xs-12 col-lg-5">
					<div class="row" style="margin-bottom:8px;">
						<form class="form-inline">
							<div class="form-group col-xs-10">
								<input class="form-control" v-model="listDate" placeholder="mm/dd/yyyy">
								<button class="btn hidden-xs" @click="checkDateAndLoad">&#8635;</button>
							</div>
							<div class="col-xs-2 hidden-lg hidden-md hidden-sm">
								<button type="button" class="btn" @click="checkDateAndLoad">&#8635;</button>
							</div>
						</form>
					</div>
					<div class="song-list list-group">
						<div class="list-group-item" v-for="(song, index) in songs" @click="loadVideo(song, index)" :class="{ 'list-group-item-success': songIndex === index }">
							<span class="badge">{{ prettyTime(song.time) }}</span>
							<div class="info-wrap">
								<div class="info">
									<div class="artist">{{ song.artist }}</div>
									<div class="name">{{ song.name }}</div>
									<div class="album">{{ song.album }}</div>
								</div>
							</div>
						</div>
					</div>
					<div><a :href="playlistUrl" target="_blank">Source</a></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-105197390-1', 'auto');
  ga('send', 'pageview');
</script>
<script src="https://apis.google.com/js/api.js"></script>
<script src="/radio-k/assets/js/vue.js"></script>
<script src="/radio-k/assets/js/main.js"></script>
</body>
</html>