
.song-list {
	overflow-y:scroll;
	height:90vh;
}

.song-list .list-group-item {
	cursor: pointer;
}
.song-list .list-group-item:hover {
	background-color:rgba(100, 100, 100, 0.1);
}

.info .name::before {
	content: '"';
}
.info .name::after {
	content: '"';
}
.info .artist {
	font-weight: bolder;
}
.info .album {
	font-style: oblique;
}
/*.list-group-item.active {
	background-color:red;
}*/